<app-moveable-dialog-header (dlgClose)="onClose()">
  Einrichtungs-Assistent
</app-moveable-dialog-header>

<div class="wizard-content">
  @if (store.loading()) {
    <div class="wizard-loading">
      <mat-spinner [diameter]="32" />
      <span>Konfiguration wird geladen…</span>
    </div>
  } @else if (store.error(); as err) {
    <div class="wizard-error">
      <mat-icon>error</mat-icon>
      <span>{{ err }}</span>
    </div>
  } @else if (store.dimensions().length > 0) {
    <mat-stepper orientation="vertical" #stepper>
      @for (dim of store.dimensions(); track dim.name) {
        <mat-step [label]="dim.label!" [completed]="false" [editable]="true">
          <app-dimension-step [dimension]="dim" />
        </mat-step>
      }

      <mat-step label="Abschluss" [completed]="false" [editable]="true">
        <app-review-step />
      </mat-step>
    </mat-stepper>
  }
</div>

<div class="wizard-footer">
  @if (stepper(); as s) {
    @if (isOnFinalStep(s)) {
      <button mat-button (click)="s.previous()">Zurück</button>
      @if (store.canSaveToServer()) {
        <button mat-flat-button color="primary" (click)="saveAndRestart()" [disabled]="store.saving()">
          <mat-icon>save</mat-icon>
          Speichern &amp; Herunterfahren
        </button>
      } @else {
        <button mat-stroked-button (click)="downloadSecrets()">
          <mat-icon>download</mat-icon>
          secrets.yml
        </button>
      }
    } @else {
      @if (s.selectedIndex > 0) {
        <button mat-button (click)="s.previous()">Zurück</button>
      }
      <button mat-flat-button (click)="s.next()">Weiter</button>
    }
  }
</div>
