# Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Node / Angular
frontend/node_modules/
node_modules/
frontend/dist/
frontend/.angular/

# IDE
.zed/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres-data/
