@if (previews().length) {
  <app-image-gallery [images]="previews()" />
} @else if (listing().imageUrls?.length) {
  <div class="gallery-wrapper gallery-wrapper--static">
    <img [src]="listing().imageUrls![0]" [alt]="listing().title" class="static-image" />
  </div>
}

<div class="listing-meta">
  @if (listing().price === 0) {
    <span class="price free">Gratis</span>
  } @else if (listing().price != null) {
    <span class="price">{{ listing().price | customCurrency }}</span>
  }
  @if (listing().paylivery) {
    <span class="meta-item" matTooltip="Paylivery">
      <mat-icon>local_shipping</mat-icon>
    </span>
  }
  @if (listing().location) {
    <span class="meta-item"> <mat-icon>location_on</mat-icon>{{ listing().location }} </span>
  }
  @if (listing().listedAt) {
    <span class="meta-item" matTooltip="Erstellt am">
      <mat-icon>calendar_today</mat-icon>{{ listing().listedAt | date: 'dd.MM.yyyy' }}
    </span>
  }
  @if (listing().viewCount) {
    <span class="meta-item" matTooltip="Aufrufe">
      <mat-icon>visibility</mat-icon>{{ listing().viewCount }}
    </span>
  }
  @if (listing().fetchedAt) {
    <span class="meta-item" matTooltip="Zuletzt abgerufen">
      <mat-icon>update</mat-icon>{{ listing().fetchedAt | date: 'dd.MM.yyyy' }}
    </span>
  }
</div>

<button mat-stroked-button class="willhaben-btn" (click)="openOnWillhaben()">
  <mat-icon>open_in_new</mat-icon>
  Auf Willhaben öffnen
</button>

@if (detail()?.description) {
  <div class="listing-description" [innerHTML]="detail()!.description"></div>
}
